<div class="min-h-screen bg-black text-white selection:bg-blue-500">
    
  <app-navbar></app-navbar>

  <main class="pt-20">
    <section id="home">
      <app-home></app-home>
    </section>

    <section id="portfolio" class="py-10">
      <app-portfolio></app-portfolio>
    </section>

    <section id="about" class="py-10">
      <app-about></app-about>
    </section>

     <section id="partners" class="py-6">
      <app-partners></app-partners>
    </section>

    <section id="services" class="py-8">
      <app-services></app-services>
    </section>

    <section id="modo-lab" class="py-8">
      <app-modo-lab></app-modo-lab> 
    </section>

    <section id="tech-stack" class="py-8">
      <app-tech-stack></app-tech-stack>
    </section>

    <section id="contact" class="py-8">
      <app-contact></app-contact>
    </section>
  </main>

  <app-footer></app-footer>

</div>